.all-article{
	.show-sub{
		width: 50%;
		float: left;
		display: inline-block;
    	margin-bottom: 5px;
    	padding-right: 6px;
    	padding-left: 6px;
    	figure{
    		a{
	    		width: 100%;
	    		float: none;
	    		display: block;
	    		margin-right: 0;
	    	}
	    	figcaption{
    			width: 100%;
				margin-bottom: 10px;
			}
    	}
    	&:nth-child(2n+1){
    		padding-left: 0;
    	}
    	&:nth-child(2n+2){
    		padding-right: 0;
    	}	
	}
	.show-large.show-large-2{
		figure{
			figcaption{
				.wrapp-info{
					width: 100%;
				}
			}
		}
	}
	.show-sub.show-sub-2{
			width: 50%;
			float: left;
			display: inline-block;
	    	margin-bottom: 5px;
	    	padding-right: 6px;
	    	padding-left: 6px;
	    	figure{
	    		a{
		    		width: 100%;
		    		float: none;
		    		display: block;
		    		margin-right: 0;
		    	}
		    	figcaption{
	    			width: 100%;
					margin-bottom: 10px;
				}
	    	}
	    	&:nth-child(2n+1){
	    		padding-left: 0;
	    	}
	    	&:nth-child(2n+2){
	    		padding-right: 0;
	    	}	
		}
}