
#wrapp-adv-full, #wrapp-adv-device, #header .top-adv{
	margin: 0;
	img{
		display: none;
	}
}
.tab-vote{
	margin-bottom: 5px;
	.nav-tabs{
		li{
			height: 35px;
			line-height: 35px;
			position: relative;
			margin-bottom: 0;
			a{
				font-size: 14px;
				padding: 0 10px;
			}

		}
	}
}
.all-article{
	.show-large.show-large-2{
		figure{
			a{
				width: 100%;
				margin-right: 0;
				float:none
			}
			figcaption{
				float:none;
				width: 100%;
			}
		}
	}
	.show-sub.show-sub-2{
		width: 100%;
	    display: inline-block;
	    margin-bottom: 10px;
	    margin-right: 0;
		figure{
			a{
				float: left;
				width: 47%;
				margin-right: 3%;
			}
			figcaption{
				width: 50%;
				float: left;
				p, span{
					font-size: 11px;
					color: $color-address;
				}
				p{
					a{
						font-size: 13px;
						color: #000;
						font-weight: bold;
						display: block;
						overflow: hidden;
						height: 20px;
						line-height: 20px;
						width: 100%;
						margin-bottom: 5px;
						&:hover{
							color: $color-base;
						}
					}
				}
				p.address{
					margin-bottom: 5px;
					display: inline-block;
				}
			}
		}
	}
	.show-title-article{
		margin: 5px 0 10px;
		h2{
			margin-bottom: 10px;
		}
	}
}

.wrap-new-adv{
	.category-menu-left{
		ul{
  			li{
				a{
					&:hover{
						color: #000;
						span.icon-9, .icon-5, .icon-4, .icon-8, .icon-6, .icon-7{
							color: #000;
						}
					}
					span.icon-9, .icon-5, .icon-4, .icon-8, .icon-6, .icon-7{
						font-size: 20px;
						color: #575756;
						display: inline-flex;
						position: relative;
						top: 5px;
						margin-right: 5px;
					}
				}
  			}
  			li.color-item-9, .color-item-5, .color-item-4, .color-item-8, .color-item-6, .color-item-7{
  				a{
  					&:after{
  						content: " ";
						position: absolute;
						top: 0;
						left: 0;
						width: 5px;
						height: 55px;
						@include transition(width 0.2s);
						z-index: -1;
  					}
  				}
  				&:hover{
  					a{
  						&:after{
  							width: 100%;
  							@include transition(width 0.2s);
							background-color: transparent;
  						}
  					}
  				}
  			}
		}
	}
	.owl-theme, .owl-controls{
		margin:5px 0 10px;
	}
}

#footer{
	.title-footer{
		padding: 15px 0 0;
	}
	.title-footer.infomation{
		.menu-top_menu-container{
			background-color: transparent;
			ul{
				li{
					width: 100%;
					display: block;
					float:none;
					border-bottom: none;
					border-top: none;
				}
			}
		}
	}
}