// set font family
$font-family-default: 'merriweather', sans-serif !default;
$font-family-raleway : 'raleway', sans-serif !default;
// header background
$background: #030303 !default;
$background-bottom: #f19a0d !default;

// set font size
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 18px !default;
$font-size-h1:	36px;
$font-size-h2:	30px;
$font-size-h3:	24px;
$font-size-h4:	18px;
$font-size-h5:	$font-size-base;
$font-size-h6:	12px;

//color categories
$color-promotion: #1abc9c !default;
$color-promotion-after: #ED1C24 !default;
$color-magazine: #00aeef !default;
$color-magazine-after: #292663 !default;
$color-copon: #00a650 !default;
$color-copon-after: #00a650 !default;
$color-vehicle-technology: #fff200 !default;
$color-fashion-health: #ec008c !default;
$color-real-estate-source: #2c3990 !default;
$color-home-electronics: #fcb141 !default;
$color-taste-event: #00a69d !default;
$color-seasons-promotion: #ed1c24 !default;
$color-copon-magazine: #DC2732 !default;
$color-copon-magazine-after: #e30513 !default;

//color-common
$color-base: #e30513 !default;
$color-button: #2a255c !default;
$color-grey: #f6f6f6 !default;
$color-dark-grey: #ED1C24 !default;
$color-bg-tab: #e30513 !default;
$color-hover-tab: #ffffff;
$color-address: #6f6f6e;
$color-title-categories: #be1e2d;
$color-bg-categories: #fff;
$color-bg-footer: #202d41;
$color-hover: #f6aa2d;
$color-line-bottom: #3d495a;
$color-line-footer: #f6aa2d;
$color-text-footer: #b3bfcb;
$color-map: #469ad4;

