@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.3; }

a, a:focus, a:hover, a:active {
  text-decoration: none; }

a:focus, select:focus, input:focus, button:focus {
  outline: none; }

a {
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms; }

/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/************************************************************************************
CUSTOMIZE BOOSTRAP
*************************************************************************************/
.row {
  margin-right: -6px;
  margin-left: -6px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 6px;
  padding-left: 6px; }

.container {
  padding-right: 6px;
  padding-left: 6px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 10px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

#header {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px; }
  #header .topbar {
    background-color: #ececec;
    height: 30px;
    line-height: 30px; }
    #header .topbar .hotline {
      float: right; }
      #header .topbar .hotline span.fa {
        color: #575756;
        font-size: 16px; }
      #header .topbar .hotline span.name {
        font-size: 13px; }
      #header .topbar .hotline span.number {
        font-size: 18px;
        font-weight: bold;
        color: #e30513; }
    #header .topbar .social {
      float: right;
      margin-left: 10px; }
      #header .topbar .social a span.fa {
        color: #575756;
        font-size: 20px; }
        #header .topbar .social a span.fa:hover {
          color: #e30513;
          transition: all ease-out 0.3s;
          -moz-transition: all ease-out 0.3s;
          -webkit-transition: all ease-out 0.3s;
          -ms-transition: all ease-out 0.3s;
          -o-transition: all ease-out 0.3s; }
    #header .topbar .wrap-user {
      float: right;
      margin-left: 10px; }
      #header .topbar .wrap-user ul li {
        display: inline-block;
        float: left;
        margin-left: 10px; }
        #header .topbar .wrap-user ul li a {
          cursor: pointer;
          color: #575756; }
          #header .topbar .wrap-user ul li a span.fa {
            color: #575756;
            font-size: 16px;
            margin-right: 5px; }
          #header .topbar .wrap-user ul li a:hover {
            color: #e30513; }
  #header .top-adv {
    padding: 5px 0; }
    #header .top-adv img {
      width: 1170px;
      height: 60px; }
  #header .navigation .navbar {
    margin-bottom: 0;
    border: none; }
  #header .navigation .navbar-default {
    background-color: transparent;
    border-color: transparent; }
    #header .navigation .navbar-default .navbar-brand {
      padding: 0 0 5px;
      height: auto; }
    #header .navigation .navbar-default .navbar-nav li a {
      color: #000;
      font-weight: bold; }
      #header .navigation .navbar-default .navbar-nav li a:hover {
        color: #e30513; }
    #header .navigation .navbar-default .navbar-nav .active a {
      background-color: transparent;
      color: #e30513; }
    #header .navigation .navbar-default .user-post {
      padding: 15px 0 0 0; }
      #header .navigation .navbar-default .user-post a {
        background-color: #e30513;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        padding: 5px 10px;
        color: #fff; }
        #header .navigation .navbar-default .user-post a:hover {
          background-color: #000; }
    #header .navigation .navbar-default form.form-inline .form-group {
      position: relative; }
      #header .navigation .navbar-default form.form-inline .form-group button.btn {
        margin-top: 0px;
        padding: 7px 12px;
        position: absolute;
        background-color: #2A255C;
        right: 0;
        top: 0;
        border-radius: 0;
        border: none; }
        #header .navigation .navbar-default form.form-inline .form-group button.btn i.fa {
          color: #fff; }
      #header .navigation .navbar-default form.form-inline .form-group input.form-control {
        border-radius: 0;
        width: 400px; }
      #header .navigation .navbar-default form.form-inline .form-group ul.dropdown-menu {
        min-width: 364px;
        border-radius: 0;
        margin: 0;
        padding: 0; }
        #header .navigation .navbar-default form.form-inline .form-group ul.dropdown-menu li {
          border-bottom: 1px solid #e7e7e7; }
          #header .navigation .navbar-default form.form-inline .form-group ul.dropdown-menu li a {
            padding: 5px 10px; }
          #header .navigation .navbar-default form.form-inline .form-group ul.dropdown-menu li:last-child {
            border-bottom: none; }

.login-form input {
  box-sizing: border-box; }
.login-form .modal-header {
  padding: 5px 15px;
  background: #f6aa2d;
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  border-bottom-color: #a86016;
  color: #FFF;
  font-weight: bold; }
  .login-form .modal-header h4 {
    color: #fff; }
.login-form .form-group {
  margin-bottom: 30px; }
.login-form .btn-primary {
  background: #353535;
  margin-right: 15px;
  border: none;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s; }
  .login-form .btn-primary:hover {
    background: #e30513;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s; }
.login-form .login-line {
  height: 1px;
  background: #d0d0d0; }
.login-form a {
  color: #418bca;
  text-decoration: none; }
  .login-form a:hover {
    text-decoration: underline; }
.login-form p {
  padding-top: 15px; }
  .login-form p span {
    margin-right: 5px; }
.login-form p.error {
  padding-top: 5px;
  color: red;
  font-size: 12px; }
.login-form .close {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background: #FFF;
  width: 20px;
  height: 20px;
  opacity: 1;
  margin-top: 2px;
  outline: none;
  padding: 0; }
.login-form .validation {
  color: red; }
.login-form div.login-error p.error {
  padding-bottom: 10px;
  font-size: 14px; }

/* register form */
#register .form-group {
  margin-bottom: 10px; }
#register .modal-body {
  padding-right: 50px; }

.wrap-new-adv {
  margin-bottom: 10px; }
  .wrap-new-adv .category-menu-left h2 {
    background: #6f6f6e;
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 0;
    padding-left: 10px;
    text-transform: uppercase; }
  .wrap-new-adv .category-menu-left ul {
    background: #f2f2f2;
    height: 341px; }
    .wrap-new-adv .category-menu-left ul li {
      border-bottom: 1px solid #d5d5d5;
      height: 55px;
      line-height: 55px; }
      .wrap-new-adv .category-menu-left ul li a {
        padding-left: 15px;
        color: #000;
        font-size: 13px;
        display: block;
        position: relative;
        z-index: 10; }
        .wrap-new-adv .category-menu-left ul li a:hover {
          color: #fff; }
          .wrap-new-adv .category-menu-left ul li a:hover span.icon-17, .wrap-new-adv .category-menu-left ul li a:hover .icon-7, .wrap-new-adv .category-menu-left ul li a:hover .icon-13, .wrap-new-adv .category-menu-left ul li a:hover .icon-15, .wrap-new-adv .category-menu-left ul li a:hover .icon-14, .wrap-new-adv .category-menu-left ul li a:hover .icon-6 {
            color: #fff; }
        .wrap-new-adv .category-menu-left ul li a span.icon-17, .wrap-new-adv .category-menu-left ul li a .icon-7, .wrap-new-adv .category-menu-left ul li a .icon-13, .wrap-new-adv .category-menu-left ul li a .icon-15, .wrap-new-adv .category-menu-left ul li a .icon-14, .wrap-new-adv .category-menu-left ul li a .icon-6 {
          font-size: 20px;
          color: #575756;
          display: inline-flex;
          position: relative;
          top: 5px;
          margin-right: 5px; }
    .wrap-new-adv .category-menu-left ul li.vehicle-technology a:after, .wrap-new-adv .category-menu-left ul .fashion-health a:after, .wrap-new-adv .category-menu-left ul .real-estate-source a:after, .wrap-new-adv .category-menu-left ul .home-electronics a:after, .wrap-new-adv .category-menu-left ul .taste-event a:after, .wrap-new-adv .category-menu-left ul .seasons-promotion a:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 55px;
      transition: width 0.2s;
      -moz-transition: width 0.2s;
      -webkit-transition: width 0.2s;
      -ms-transition: width 0.2s;
      -o-transition: width 0.2s;
      z-index: -1; }
    .wrap-new-adv .category-menu-left ul li.vehicle-technology:hover a:after, .wrap-new-adv .category-menu-left ul .fashion-health:hover a:after, .wrap-new-adv .category-menu-left ul .real-estate-source:hover a:after, .wrap-new-adv .category-menu-left ul .home-electronics:hover a:after, .wrap-new-adv .category-menu-left ul .taste-event:hover a:after, .wrap-new-adv .category-menu-left ul .seasons-promotion:hover a:after {
      width: 175px;
      transition: width 0.2s;
      -moz-transition: width 0.2s;
      -webkit-transition: width 0.2s;
      -ms-transition: width 0.2s;
      -o-transition: width 0.2s; }
    .wrap-new-adv .category-menu-left ul li.vehicle-technology a:after {
      background: #34495d; }
    .wrap-new-adv .category-menu-left ul li.fashion-health a:after {
      background: #95c11e; }
    .wrap-new-adv .category-menu-left ul li.real-estate-source a:after {
      background: #302683; }
    .wrap-new-adv .category-menu-left ul li.home-electronics a:after {
      background: #009bb4; }
    .wrap-new-adv .category-menu-left ul li.taste-event a:after {
      background: #f39200; }
    .wrap-new-adv .category-menu-left ul li.seasons-promotion a:after {
      background: #c51a1b; }
  .wrap-new-adv .big-new-adv {
    overflow: hidden;
    /*--custome owl--*/ }
    .wrap-new-adv .big-new-adv .show-adv figure {
      position: relative; }
      .wrap-new-adv .big-new-adv .show-adv figure figcaption {
        position: absolute;
        width: 100%;
        display: block;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px; }
        .wrap-new-adv .big-new-adv .show-adv figure figcaption p a {
          color: #fff;
          font-size: 12px; }
          .wrap-new-adv .big-new-adv .show-adv figure figcaption p a:hover {
            color: #e30513; }
        .wrap-new-adv .big-new-adv .show-adv figure figcaption p:first-child {
          margin-bottom: 6px; }
        .wrap-new-adv .big-new-adv .show-adv figure figcaption p.address, .wrap-new-adv .big-new-adv .show-adv figure figcaption span {
          font-size: 12px;
          color: #b2b2b1; }
    .wrap-new-adv .big-new-adv .owl-theme .owl-controls.clickable {
      position: absolute;
      right: 0;
      bottom: 70px;
      margin-top: 0; }
      .wrap-new-adv .big-new-adv .owl-theme .owl-controls.clickable .owl-page span {
        color: #000;
        background: #fff;
        opacity: 0.6; }
      .wrap-new-adv .big-new-adv .owl-theme .owl-controls.clickable .owl-page:hover span {
        filter: Alpha(Opacity=100);
        /*IE7 fix*/
        opacity: 1;
        color: #fff;
        background-color: #e30513; }
      .wrap-new-adv .big-new-adv .owl-theme .owl-controls.clickable .owl-page.active span {
        filter: Alpha(Opacity=100);
        /*IE7 fix*/
        opacity: 1;
        color: #fff;
        background-color: #e30513; }
  .wrap-new-adv .top-sub-adv .show-adv {
    width: 100%;
    display: inline-block;
    margin-bottom: 8px; }
    .wrap-new-adv .top-sub-adv .show-adv figure a {
      float: left;
      width: 47%;
      margin-right: 3%; }
    .wrap-new-adv .top-sub-adv .show-adv figure figcaption {
      width: 50%;
      float: left; }
      .wrap-new-adv .top-sub-adv .show-adv figure figcaption p, .wrap-new-adv .top-sub-adv .show-adv figure figcaption span {
        font-size: 12px;
        color: #6f6f6e; }
      .wrap-new-adv .top-sub-adv .show-adv figure figcaption p a {
        font-size: 12px;
        color: #000;
        font-weight: bold;
        display: block;
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        width: 100%;
        margin-bottom: 5px; }
        .wrap-new-adv .top-sub-adv .show-adv figure figcaption p a:hover {
          color: #e30513; }
      .wrap-new-adv .top-sub-adv .show-adv figure figcaption p.address {
        margin-bottom: 5px;
        display: inline-block; }
    .wrap-new-adv .top-sub-adv .show-adv:last-child {
      margin-bottom: 0; }

.tab-vote, .tab-content-details {
  background: #ececec;
  margin-bottom: 10px; }
  .tab-vote .nav-tabs, .tab-content-details .nav-tabs {
    border-bottom: none;
    background: #202d41;
    color: #fff;
    margin-bottom: 20px; }
    .tab-vote .nav-tabs li.active, .tab-content-details .nav-tabs li.active {
      position: relative;
      cursor: pointer;
      text-align: center; }
      .tab-vote .nav-tabs li.active a, .tab-content-details .nav-tabs li.active a {
        color: #f6aa2d;
        border-color: transparent;
        background: transparent; }
      .tab-vote .nav-tabs li.active:after, .tab-content-details .nav-tabs li.active:after {
        content: " ";
        position: absolute;
        margin-left: -14px;
        bottom: -10px;
        width: 0;
        height: 0;
        border-top: 14px solid #202d41;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; }
    .tab-vote .nav-tabs li, .tab-content-details .nav-tabs li {
      height: 35px;
      line-height: 35px;
      position: relative;
      margin-bottom: 0; }
      .tab-vote .nav-tabs li a, .tab-content-details .nav-tabs li a {
        color: #fff;
        font-size: 16px;
        border-radius: 0;
        line-height: inherit;
        margin-right: 0;
        padding: 0 20px; }
        .tab-vote .nav-tabs li a:hover, .tab-content-details .nav-tabs li a:hover {
          color: #f6aa2d;
          background-color: transparent;
          border-color: transparent; }
  .tab-vote .viewmore, .tab-content-details .viewmore {
    text-align: center;
    margin: 10px 0; }

.tab-content-details {
  background-color: transparent;
  border: 1px solid #d5d5d5; }
  .tab-content-details .nav-tabs {
    background: #575756; }
    .tab-content-details .nav-tabs li.active:after {
      border-top: 14px solid #575756; }

/*--all b├ái post chung--*/
.all-article .show-title-article {
  margin: 10px 0; }
  .all-article .show-title-article h2 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 5px;
    margin-bottom: 15px; }
    .all-article .show-title-article h2 a {
      color: #000; }
      .all-article .show-title-article h2 a span {
        color: #e30513; }
.all-article .show-article figure, .all-article .show-large figure {
  position: relative;
  overflow: hidden; }
  .all-article .show-article figure a, .all-article .show-large figure a {
    position: relative;
    overflow: hidden;
    display: block; }
    .all-article .show-article figure a .blur, .all-article .show-large figure a .blur {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
    .all-article .show-article figure a:hover .blur, .all-article .show-large figure a:hover .blur {
      opacity: 1;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
  .all-article .show-article figure figcaption, .all-article .show-large figure figcaption {
    margin-bottom: 10px; }
    .all-article .show-article figure figcaption a, .all-article .show-large figure figcaption a {
      font-size: 13px;
      color: #000;
      font-weight: bold;
      display: block;
      overflow: hidden;
      height: 40px;
      line-height: 20px;
      margin: 5px 0; }
      .all-article .show-article figure figcaption a:hover, .all-article .show-large figure figcaption a:hover {
        color: #e30513; }
    .all-article .show-article figure figcaption p.address, .all-article .show-large figure figcaption p.address {
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      height: 40px;
      overflow: hidden;
      line-height: 20px;
      margin-bottom: 5px; }
    .all-article .show-article figure figcaption p, .all-article .show-article figure figcaption span, .all-article .show-large figure figcaption p, .all-article .show-large figure figcaption span {
      font-size: 12px; }
.all-article .show-large figure figcaption .wrapp-info {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: 5px 0; }
.all-article .show-large figure figcaption p.description {
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  height: 60px;
  overflow: hidden;
  line-height: 20px;
  margin-top: 5px; }
.all-article .show-large.show-large-2 {
  width: 100%;
  display: inline-block;
  margin-bottom: 0; }
  .all-article .show-large.show-large-2 figure a {
    float: left;
    width: 47%;
    margin-right: 3%;
    position: relative;
    overflow: hidden;
    display: block; }
    .all-article .show-large.show-large-2 figure a .blur {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
    .all-article .show-large.show-large-2 figure a:hover .blur {
      opacity: 1;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
  .all-article .show-large.show-large-2 figure figcaption {
    width: 50%;
    float: left; }
    .all-article .show-large.show-large-2 figure figcaption a {
      width: 100%;
      display: block;
      margin-top: 0; }
      .all-article .show-large.show-large-2 figure figcaption a:hover {
        color: #e30513; }
    .all-article .show-large.show-large-2 figure figcaption .wrapp-info, .all-article .show-large.show-large-2 figure figcaption p.description {
      display: block;
      float: left; }
.all-article .show-sub, .all-article .show-article-details {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px; }
  .all-article .show-sub figure a, .all-article .show-article-details figure a {
    float: left;
    width: 47%;
    margin-right: 3%;
    position: relative;
    overflow: hidden;
    display: block; }
    .all-article .show-sub figure a .blur, .all-article .show-article-details figure a .blur {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
    .all-article .show-sub figure a:hover .blur, .all-article .show-article-details figure a:hover .blur {
      opacity: 1;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
  .all-article .show-sub figure figcaption, .all-article .show-article-details figure figcaption {
    width: 50%;
    float: left; }
    .all-article .show-sub figure figcaption p, .all-article .show-sub figure figcaption span, .all-article .show-article-details figure figcaption p, .all-article .show-article-details figure figcaption span {
      font-size: 12px;
      color: #6f6f6e; }
    .all-article .show-sub figure figcaption p a, .all-article .show-article-details figure figcaption p a {
      font-size: 13px;
      color: #000;
      font-weight: bold;
      display: block;
      overflow: hidden;
      height: 20px;
      line-height: 20px;
      width: 100%;
      margin-bottom: 5px; }
      .all-article .show-sub figure figcaption p a:hover, .all-article .show-article-details figure figcaption p a:hover {
        color: #e30513; }
    .all-article .show-sub figure figcaption p.address, .all-article .show-article-details figure figcaption p.address {
      margin-bottom: 5px;
      display: inline-block; }
  .all-article .show-sub:last-child, .all-article .show-article-details:last-child {
    margin-bottom: 0; }
.all-article .show-sub.show-sub-2 {
  width: 23%;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px; }
  .all-article .show-sub.show-sub-2 figure a {
    float: none;
    width: auto;
    margin-right: 0; }
  .all-article .show-sub.show-sub-2 figure figcaption {
    float: none;
    width: auto; }
  .all-article .show-sub.show-sub-2:last-child {
    margin-right: 0; }

#wrapp-adv-full {
  margin: 10px 0; }
  #wrapp-adv-full img {
    width: 1170px;
    height: 100px; }

#wrapp-adv-device {
  margin: 10px 0; }
  #wrapp-adv-device .adv-device img {
    width: 570px;
    height: 100px; }

/*--categories--*/
.categories .breadcrumb {
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #d5d5d5;
  padding: 8px 0; }
  .categories .breadcrumb a {
    font-size: 16px; }
.categories .paging .pagination {
  margin: 10px 0 0; }
  .categories .paging .pagination li a, .categories .paging .pagination li span {
    color: #000; }
    .categories .paging .pagination li a:hover, .categories .paging .pagination li a:focus, .categories .paging .pagination li span:hover, .categories .paging .pagination li span:focus {
      color: #fff;
      background-color: #e30513;
      border-color: #e30513; }

.details .content-details .info-top-details {
  margin-bottom: 20px;
  background: #ececec; }
  .details .content-details .info-top-details .show-info-dt {
    padding: 15px 30px 15px 15px; }
    .details .content-details .info-top-details .show-info-dt h5 {
      font-size: 18px;
      margin-bottom: 3px; }
    .details .content-details .info-top-details .show-info-dt p {
      margin-bottom: 5px; }
      .details .content-details .info-top-details .show-info-dt p span {
        font-style: italic;
        font-size: 12px;
        color: #575756; }
      .details .content-details .info-top-details .show-info-dt p span.fa {
        font-size: 14px;
        font-style: normal; }
      .details .content-details .info-top-details .show-info-dt p:first-of-type {
        margin-bottom: 10px; }
    .details .content-details .info-top-details .show-info-dt p.vote-details {
      padding: 5px 0;
      margin: 5px 0 10px;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5; }
.details .content-details .tab-content {
  padding: 15px 30px; }
  .details .content-details .tab-content .show-dt-editor p {
    padding-bottom: 10px; }
  .details .content-details .tab-content .show-dt-editor img {
    text-align: center; }
  .details .content-details .tab-content .show-dt-editor ul, .details .content-details .tab-content .show-dt-editor ol {
    list-style: inherit;
    margin: 0 0 10px;
    padding: 0 0 0 45px; }
  .details .content-details .tab-content .other-location .page-header {
    margin: 20px 0 10px;
    padding-bottom: 0; }
    .details .content-details .tab-content .other-location .page-header h2 {
      font-size: 18px; }
  .details .content-details .tab-content .other-location .more-location li span.fa {
    color: #469ad4; }
  .details .content-details .tab-content .other-location .more-location li a {
    color: #000;
    font-size: 12px; }
    .details .content-details .tab-content .other-location .more-location li a:hover {
      color: #e30513; }
  .details .content-details .tab-content .vote-top {
    border: 1px solid #d5d5d5;
    margin-bottom: 30px; }
    .details .content-details .tab-content .vote-top h5 {
      border-bottom: 1px solid #d5d5d5;
      padding: 5px 10px;
      margin-bottom: 0;
      background: #ececec; }
    .details .content-details .tab-content .vote-top .ct-vote {
      padding: 10px;
      background: #fff; }
.details .title-details h2 {
  font-size: 16px;
  background: #575756;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  padding-left: 10px; }
.details .adv-details img {
  width: 100%;
  height: 227px; }

.user .all-content-user {
  border: 1px solid #d5d5d5;
  margin-bottom: 20px; }
  .user .all-content-user .title-form-user h2 {
    font-size: 16px;
    background: #575756;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-left: 10px; }
    .user .all-content-user .title-form-user h2 .status {
      float: right;
      padding-right: 5px;
      font-size: 14px;
      font-weight: normal; }
      .user .all-content-user .title-form-user h2 .status select {
        color: #333;
        font-size: 12px;
        border: none;
        margin-left: 5px; }
  .user .all-content-user .content-user {
    padding: 10px 80px; }
    .user .all-content-user .content-user p {
      font-style: italic;
      margin-bottom: 20px; }
      .user .all-content-user .content-user p span.star {
        color: #e30513; }
    .user .all-content-user .content-user .form-horizontal .form-group {
      margin-right: 0;
      margin-left: 0; }
      .user .all-content-user .content-user .form-horizontal .form-group .random-code {
        margin-top: 15px; }
        .user .all-content-user .content-user .form-horizontal .form-group .random-code span.fa {
          background: #f6aa2d;
          color: #fff;
          padding: 5px 10px;
          margin-left: 10px; }
      .user .all-content-user .content-user .form-horizontal .form-group span.validation {
        color: #e30513; }
      .user .all-content-user .content-user .form-horizontal .form-group button {
        border: none; }
  .user .all-content-user .content-post {
    padding: 10px 20px; }
    .user .all-content-user .content-post p {
      font-style: normal; }
    .user .all-content-user .content-post p.address {
      margin-bottom: 2px; }
    .user .all-content-user .content-post p.edit-delete a {
      float: left;
      display: inline-block;
      width: 28%;
      cursor: pointer; }
    .user .all-content-user .content-post p.edit-delete span.waiting {
      font-size: 11px;
      background: #f2dede;
      padding: 2px 5px;
      color: #000;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px; }
.user .title-user h2 {
  margin-bottom: 0; }
.user .info-user {
  background: #ececec;
  padding: 10px 20px;
  margin-bottom: 10px; }
  .user .info-user ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5; }
    .user .info-user ul li a {
      color: #000; }
      .user .info-user ul li a:hover {
        color: #e30513; }
    .user .info-user ul li:last-child {
      border-bottom: none;
      margin-bottom: 0; }

.search {
  margin-bottom: 10px; }
  .search .show-search .show-article-details {
    margin-bottom: 10px; }
    .search .show-search .show-article-details figure figcaption p.review {
      margin-top: 5px; }
      .search .show-search .show-article-details figure figcaption p.review span {
        color: #333;
        font-weight: bold; }
  .search .title-map h2 {
    font-size: 16px;
    background: #575756;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-left: 10px; }

.contact .title-contact h2 {
  margin-bottom: 0; }
.contact .info-company {
  border: 1px solid #d5d5d5;
  padding: 10px; }
  .contact .info-company p {
    margin-bottom: 2px; }
  .contact .info-company p.map-company {
    margin-top: 20px; }

.about .content-user.content-about {
  padding: 20px; }
  .about .content-user.content-about p {
    font-style: normal; }

#footer {
  font-size: 13px;
  background: #202d41; }
  #footer .title-footer {
    padding: 30px 0 10px; }
    #footer .title-footer h3 {
      font-size: 20px;
      font-weight: normal;
      color: #fff;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #3d495a; }
      #footer .title-footer h3:before {
        position: absolute;
        content: " ";
        width: 70px;
        height: 5px;
        background: #f6aa2d;
        left: 0;
        bottom: -3px; }
  #footer .title-footer.linkweb ul li, #footer .infomation ul li {
    margin-bottom: 5px; }
    #footer .title-footer.linkweb ul li a, #footer .infomation ul li a {
      color: #b3bfcb; }
      #footer .title-footer.linkweb ul li a span.fa, #footer .infomation ul li a span.fa {
        color: #757e8b;
        margin-right: 5px; }
      #footer .title-footer.linkweb ul li a:hover, #footer .infomation ul li a:hover {
        color: #f6aa2d; }
  #footer .title-footer.about-footer h5 {
    font-size: 16px;
    color: #fff; }
  #footer .title-footer.about-footer p {
    color: #b3bfcb;
    margin-bottom: 2px; }
  #footer .title-footer.about-footer .plugin-social {
    margin: 10px 0 0; }
  #footer .title-footer.infomation ul li {
    width: 50%;
    display: inline-block;
    float: left; }
  #footer .title-footer.support .wrap-chat p {
    margin-bottom: 5px; }
    #footer .title-footer.support .wrap-chat p span {
      color: #b3bfcb; }
    #footer .title-footer.support .wrap-chat p span.fa {
      font-size: 20px;
      color: #757e8b;
      margin-right: 5px; }
    #footer .title-footer.support .wrap-chat p span.fa.fa-mobile {
      font-size: 30px; }
    #footer .title-footer.support .wrap-chat p a {
      color: #b3bfcb; }
      #footer .title-footer.support .wrap-chat p a:hover {
        color: #f6aa2d; }
    #footer .title-footer.support .wrap-chat p span.fa.fa-skype {
      color: #0088c1; }
  #footer .coppyright {
    border-top: 1px solid #3d495a;
    padding-bottom: 10px; }
    #footer .coppyright .text-left {
      color: #b3bfcb;
      padding-top: 20px; }
    #footer .coppyright .text-right a.backtop {
      transition: all ease-out 0.3s;
      -moz-transition: all ease-out 0.3s;
      -webkit-transition: all ease-out 0.3s;
      -ms-transition: all ease-out 0.3s;
      -o-transition: all ease-out 0.3s;
      position: relative;
      display: block;
      float: right;
      width: 0px;
      height: 0px;
      border-right: 25px solid #b3bfcb;
      border-top: 35px solid #b3bfcb;
      border-left: 25px solid #b3bfcb;
      border-bottom: 15px solid transparent; }
      #footer .coppyright .text-right a.backtop span.fa {
        color: #fff;
        font-size: 18px;
        position: absolute;
        top: -28px;
        right: -8px;
        z-index: 999; }
      #footer .coppyright .text-right a.backtop:hover {
        transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        border-right: 25px solid #f6aa2d;
        border-top: 35px solid #f6aa2d;
        border-left: 25px solid #f6aa2d;
        border-bottom: 15px solid transparent; }

.btn-base, .btn-user {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s; }

.btn-base {
  color: #fff;
  background-color: #2a255c; }
  .btn-base:hover {
    background-color: #e30513; }

.btn-user {
  color: #fff;
  background-color: #e30513; }
  .btn-user:hover {
    background-color: #000; }

@media (max-width: 767px) {
  #wrapp-adv-full, #wrapp-adv-device, #header .top-adv {
    margin: 0; }
    #wrapp-adv-full img, #wrapp-adv-device img, #header .top-adv img {
      display: none; }

  .wrap-new-adv .top-sub-adv {
    display: none; }

  .tab-vote .nav-tabs li {
    height: 35px;
    line-height: 35px;
    position: relative;
    margin-bottom: 0; }
    .tab-vote .nav-tabs li a {
      font-size: 14px;
      padding: 0 10px; }

  .all-article .show-large.show-large-2 figure a {
    width: 100%;
    margin-right: 0;
    float: none; }
  .all-article .show-large.show-large-2 figure figcaption {
    float: none;
    width: 100%; }
  .all-article .show-sub.show-sub-2 {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 0; }
    .all-article .show-sub.show-sub-2 figure a {
      float: left;
      width: 47%;
      margin-right: 3%; }
    .all-article .show-sub.show-sub-2 figure figcaption {
      width: 50%;
      float: left; }
      .all-article .show-sub.show-sub-2 figure figcaption p, .all-article .show-sub.show-sub-2 figure figcaption span {
        font-size: 11px;
        color: #6f6f6e; }
      .all-article .show-sub.show-sub-2 figure figcaption p a {
        font-size: 13px;
        color: #000;
        font-weight: bold;
        display: block;
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        width: 100%;
        margin-bottom: 5px; }
        .all-article .show-sub.show-sub-2 figure figcaption p a:hover {
          color: #e30513; }
      .all-article .show-sub.show-sub-2 figure figcaption p.address {
        margin-bottom: 5px;
        display: inline-block; }

  #footer .title-footer {
    padding: 15px 0 0; }
  #footer .title-footer.infomation ul li {
    width: 100%;
    display: block;
    float: none; } }
@media (min-width: 481px) and (max-width: 639px) {
  .all-article .show-sub {
    width: 50%;
    float: left;
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 6px;
    padding-left: 6px; }
    .all-article .show-sub figure a {
      width: 100%;
      float: none;
      display: block;
      margin-right: 0; }
    .all-article .show-sub figure figcaption {
      width: 100%;
      margin-bottom: 10px; }
    .all-article .show-sub:nth-child(2n+1) {
      padding-left: 0; }
    .all-article .show-sub:nth-child(2n+2) {
      padding-right: 0; }
  .all-article .show-large.show-large-2 figure figcaption .wrapp-info {
    width: 100%; }
  .all-article .show-sub.show-sub-2 {
    width: 50%;
    float: left;
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 6px;
    padding-left: 6px; }
    .all-article .show-sub.show-sub-2 figure a {
      width: 100%;
      float: none;
      display: block;
      margin-right: 0; }
    .all-article .show-sub.show-sub-2 figure figcaption {
      width: 100%;
      margin-bottom: 10px; }
    .all-article .show-sub.show-sub-2:nth-child(2n+1) {
      padding-left: 0; }
    .all-article .show-sub.show-sub-2:nth-child(2n+2) {
      padding-right: 0; } }

/*# sourceMappingURL=main.css.map */
